<ion-content padding>
	<ion-grid>
		<!-- <div class="segment">
			<ion-row>
				<h2 class="header" ion-text>Cook Start</h2>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label>Start Time</ion-label>
						<ion-datetime displayFormat="h:mm" [(ngModel)]="cookProvider.cook.startTime" ></ion-datetime>
					</ion-item>
				</ion-col>
			</ion-row>
		</div> -->
		<div class="segment">
			<ion-row>
				<h2 class="header" ion-text>Target Cook Temperature</h2>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label>Temperature</ion-label>
						<ion-input type="number" class="target" 
						[(ngModel)]="cookProvider.cook.targetTemperature"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-label>Thermocouple</ion-label>
						<ion-select [(ngModel)]="cookProvider.cook.targetTemperatureThermocouple" interface="action-sheet">
							<ion-option value="1">1</ion-option>
							<ion-option value="2">2</ion-option>
						</ion-select>
					</ion-item>
				</ion-col>
			</ion-row>
		</div>
		<div class="segment">
			<ion-row>
				<h2 class="header" ion-text>Cook End</h2>
			</ion-row>
			<ion-row>
				<ion-item>
					<ion-label>End Cook Condition</ion-label>
					<ion-select [(ngModel)]="cookProvider.cook.endCondition" interface="action-sheet">
						<ion-option *ngFor="let condition of EndConditions" [value]="condition.value">{{condition.name}}</ion-option>
					</ion-select>
				</ion-item>
			</ion-row>
			<ion-row *ngIf="cookProvider.cook.endCondition == EndCondition.TEMPERATURE">
				<ion-col>
					<ion-item>
						<ion-label>Temperature</ion-label>
						<ion-input type="number" class="target" 
						[(ngModel)]="cookProvider.cook.endConditionTargetTemperature"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-label>Thermocouple</ion-label>
						<ion-select [(ngModel)]="cookProvider.cook.endConditionThermocouple" interface="action-sheet">
							<ion-option value="1">1</ion-option>
							<ion-option value="2">2</ion-option>
						</ion-select>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="cookProvider.cook.endCondition == EndCondition.TIME">
				<ion-col>
					<ion-item>
						<ion-label>End Time</ion-label>
						<ion-datetime displayFormat="h:mm" [(ngModel)]="cookProvider.cook.endTime"></ion-datetime>
					</ion-item>
				</ion-col>
			</ion-row>
		</div>
		<ion-row>
			<ion-col col-12 text-center>
				<button ion-button [disabled]="!validated" (click)="startCook()">
					Start Cooking
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
