<ion-content padding>
	<ion-grid>
		<ion-row *ngIf="cookProvider.cookStatus == CookStatus.STOPPED">
			<ion-col col-12 text-center>
				<h3 ion-text>Start your day with a smoke</h3>
			</ion-col>
			<ion-col col-12 text-center>
				<button icon-end ion-button (click)="navigateToCook()">
					Start Cooking 
					<ion-icon name="bonfire"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="cookProvider.cookStatus == CookStatus.FINISHED">
			<ion-col col-12 text-center>
				Finished cook! Insert dancing guy here
			</ion-col>
		</ion-row>
		<ion-row *ngIf="cookProvider.cookStatus == CookStatus.PAUSED">
			<ion-col col-12 text-center *ngIf="cookProvider.autoResumeTimeLeft">
				<h3 ion-text>Auto Resuming Cook in: {{cookProvider.autoResumeTimeLeft | hhmmss}}</h3>
			</ion-col>		
			<ion-col col-6 text-center>
				<button ion-button icon-end (click)="cookProvider.resumeCook()">
					Resume Cook 
					<ion-icon name="play"></ion-icon>
				</button>
			</ion-col>			
			<ion-col col-6 text-center>
				<button ion-button icon-end (click)="cookProvider.stopCook()">
					Stop Cook 
					<ion-icon name="close"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="cookProvider.cookStatus == CookStatus.RUNNING">
			<ion-col col-12 text-center *ngIf="cookProvider.estimatedTimeLeft">
				<h3 ion-text>Time to tasty food!: {{cookProvider.estimatedTimeLeft}}</h3>
			</ion-col>		
			<ion-col col-12 text-center>
				<button ion-button icon-end (click)="cookProvider.pauseCook()">
					Pause Cook 
					<ion-icon name="pause"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
		<ion-row *ngFor="let thermocouple of ( settings.thermocouples | availableThermocouples )">
			<ion-col col-12 text-center>
				<ngx-gauge
					[type]="gaugeType" 
					[value]="convertTemp(settings.units, thermocouple.value)"
					[foregroundColor]="color"
					[backgroundColor]="gaugeBackgroundColor"
					[label]="thermocouple.name"  
					[append]="temperatureSymbols[settings.units]"
					[max]="convertTemp(settings.units, 200)"
					[thick]=15
					[size]=300
					>
				</ngx-gauge>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
