<ion-header>
	<ion-navbar>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf='!ble.connectedTo'>
		<button ion-button *ngIf='!ble.isScanning' (click)='startScan()'>Scan for Devices</button>
		<button ion-button *ngIf='ble.isScanning' (click)='ble.stopScan()'>Stop Scan</button>
	
		<div *ngFor="let device of ble.devices" >
			{{device.name}} 
			<button ion-button (click)='connect(device.id)'>Connect</button>
		</div>
	</div>
	<div *ngIf='ble.connectedTo'>
		<ion-grid>
			<ion-row>
				<ion-col col-12 text-center>
					<ngx-gauge
						[type]="gaugeType" 
						[value]="ble.temp" 
						[foregroundColor]="gaugeColor()"
						[backgroundColor]="gaugeBackgroundColor"
						[label]="gaugeLabel"  
						[append]="gaugeAppendText"
						[max]="maxTemp"
						[thick]=15
						[size]=300
						>
					</ngx-gauge>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12 text-center>This column will take 6 columns</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
