<ion-header>
	<ion-navbar>
		<ion-title>
			<div class="title">
				<h2 ion-text>Cook Summary</h2>
				<ion-icon class="close" name="close" (click)="closeModal()"></ion-icon>
			</div>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
		<ion-grid>
			<div class="segment">
				<ion-row>
					<h2 class="header" ion-text>Target Cook Temperature</h2>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item>
								Target Temperature: {{cookProvider.cook.targetTemperature}}
						</ion-item>
					</ion-col>
					<ion-col>
						<ion-item>
								Target Temperature Thermocouple: {{cookProvider.cook.targetTemperatureThermocouple}}
						</ion-item>
					</ion-col>
				</ion-row>
			</div>
			<div class="segment" *ngIf="cookProvider.cook.endCondition == EndCondition.TIME">
				<ion-row>
					<h2 class="header" ion-text>Time</h2>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item>
								End Time: {{cookProvider.cook.endTime}}
						</ion-item>
					</ion-col>
				</ion-row>
			</div>
			<div class="segment" *ngIf="cookProvider.cook.endCondition == EndCondition.TEMPERATURE">
					<ion-row>
						<h2 class="header" ion-text>Target Cook Temperature</h2>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-item>
									Target Temperature: {{cookProvider.cook.targetTemperature}}
							</ion-item>
						</ion-col>
						<ion-col>
							<ion-item>
									Target Temperature Thermocouple: {{cookProvider.cook.targetTemperatureThermocouple}}
							</ion-item>
						</ion-col>
					</ion-row>
				</div>
				<ion-row>
					<ion-col col-12 text-center>
						<button ion-button (click)="closeModal(showToast)">
							Start Cook
						</button>
					</ion-col>
				</ion-row>
		</ion-grid>
</ion-content>
