<ion-header>
	<ion-navbar>
		<ion-title>
			<div class="title">
				<h2 ion-text>Cook Summary</h2>
				<ion-icon class="close" name="close" (click)="closeModal()"></ion-icon>
			</div>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div class="segment">
		<h2 class="header" ion-text>Cook Info</h2>
		<ion-item>
				Name: {{cookProvider.cook.name.value}}
		</ion-item>
	</div>
	<div class="segment">
		<h2 class="header" ion-text>Target Cook Temperature</h2>
		<ion-item>
				Target Temperature: {{cookProvider.cook.targetTemperature.value}}{{temperatureSymbols[settings.units]}}
		</ion-item>
		<ion-item>
				Thermocouple: {{cookProvider.cook.targetTemperatureThermocouple.value.name}}
		</ion-item>
	</div>
	<div class="segment" *ngIf="cookProvider.cook.endCondition.value == EndCondition.TIME">
		<h2 class="header" ion-text>Cook will end in SomeBS HERE</h2>
		<ion-item>
				End Time: {{cookProvider.cook.endTime.value}}
		</ion-item>
	</div>
	<div class="segment" *ngIf="cookProvider.cook.endCondition.value == EndCondition.TEMPERATURE">
		<h2 class="header" ion-text>Cook will end when target temperature is reached</h2>
		<ion-item>
				Target Temperature: {{cookProvider.cook.endConditionTargetTemperature.value}}{{temperatureSymbols[settings.units]}}
		</ion-item>
		<ion-item>
				Thermocouple: {{cookProvider.cook.endConditionThermocouple.value.name}}
		</ion-item>
	</div>
	<div class="submit">
		<button icon-end ion-button (click)="closeModal(showToast)">
			Confirm and Start Cook
			<ion-icon name="bonfire"></ion-icon>
		</button>
	</div>
</ion-content>
