page-settings {
	.thermocoupleInput{
		input{
			text-align: right;
		}
	}
	.segment{
		margin-top: 20px;
	}
	ion-content{
		margin-top: 25px;
	}
	ion-item {
		max-width: 95%;
		width: 95%;
	}
	 ion-select{
		max-width: 55%;
		width: 55%;
		text-align: right;
	 }
}
