page-graph {
	.footer{
		display: flex;
		justify-content: flex-end;
	}
	.notes{
		.text-input[disabled]{
			opacity: 1;
		}
	}

	.editButton{
		display: flex;
		justify-content: flex-end;
	}

	ion-card-header {
		display: flex;
		flex-direction: row;
		span {
			width: 100%;
			justify-content: stretch;
		}
		button.expand {
			min-width: 50px;
		}
		button.edit {
			min-width: 70px;
		}
	}
	ion-card-content {
		display: flex;
		flex-direction: column;
		span {
			width: 100%;
			justify-content: stretch;
		}
		button.edit {
			justify-content: flex-end;
		}
	}

	.collapse {
		background-color: #4CAF50;
		border: none;
		border-radius: 50%;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;	
		align-items: center;
		margin: 0px;

		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 12px;
		padding-left: 12px;
		
		font-size: 28px;
		cursor: pointer;
	}
}

.ios, .md {
	page-home {
		.scroll-content {
			background-color: map-get($colors, light);
		}

		ion-card-header {
			font-weight: bold;
		}
	}
}