<ion-content> 
	<ion-card *ngFor="let datum of (dataProvider.data | graphData)">
		<ion-card-header>
			<h1>{{datum.date}} - {{datum.name}}</h1>
			<span></span>
				<ion-icon class="collapse" (click)="collapseCard(datum)" name="arrow-up" *ngIf='datum.expanded'></ion-icon>
				<ion-icon class="collapse" (click)="expandCard(datum)" name="arrow-down" *ngIf='!datum.expanded'></ion-icon>
		</ion-card-header>
		<ion-card-content>
			<canvas #graphCanvas></canvas>
			<div *ngIf='datum.expanded'>
				<h1 ion-text>Notes:</h1>
				<ion-item-divider></ion-item-divider>
				<ion-textarea class="notes" disabled autosize [(ngModel)]="datum.notes"
				></ion-textarea>
				<div class="footer">
					<button class="editButton" ion-button icon-start (click)="editNotes(datum)">
						<ion-icon name="create"></ion-icon>
						Edit
					</button>
				</div>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>